{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="Cadastro">
        <h1>Faça seu Cadastro</h1>
        <form action="{% url 'ver_assunto'%}" method="POST"> {%csrf_token%}
            <input type="text" name="Nome" placeholder="Digite o seu nome completo... "><br>
            <br>
            <input type="email" name="Email" placeholder="Digite o seu email... "><br>
            <br>
            <input type="email" name="Confirmar_Email" placeholder="Digite o seu email novamente... "><br>
            <br>
            <input type="password" name="Senha" placeholder="Crie uma senha... "><br>
            <br>
            <input type="password" name="Confirmar_Senha" placeholder="Confirme sua senha... "><br>
            <br>
            <a href="{% url 'entrar_site' %}">Já tem uma conta? Faça login</a>
            <br>
            <input type="submit" value="Cadastrar">

        </form>
    </div>
</body>

</html>